<div class="md-padding" layout="column" flex>
	<md-content class="md-padding" layout-xs="column">
		<div flex-xs flex-gt-xs="50" layout="column">
			<md-card md-theme="{{ showDarkTheme ? 'dark-purple' : 'default' }}" md-theme-watch>
			  <md-card-title>
			    <md-card-title-text>
			      <span class="md-headline">User Maintenance</span>
			      <span class="md-subhead">Manage Users</span>
			    </md-card-title-text>
			    <md-card-title-media>
			      <div class="md-media-sm card-media"></div>
			    </md-card-title-media>
			  </md-card-title>
			  <md-card-actions layout="row" layout-align="end center">
			    <md-button href="#/UserManagement/Users" class="md-primary launch" >Go</md-button>
			  </md-card-actions>
			</md-card>
			<md-card md-theme="{{ showDarkTheme ? 'dark-purple' : 'default' }}" md-theme-watch>
			  <md-card-title>
			    <md-card-title-text>
			      <span class="md-headline">Team Maintenance</span>
			      <span class="md-subhead">Manage Teams</span>
			    </md-card-title-text>
			    <md-card-title-media>
			      <div class="md-media-sm card-media"></div>
			    </md-card-title-media>
			  </md-card-title>
			  <md-card-actions layout="row" layout-align="end center">
			    <md-button href="#/UserManagement/Teams" class="md-primary launch" >Go</md-button>
			  </md-card-actions>
			</md-card>
			<md-card md-theme="{{ showDarkTheme ? 'dark-purple' : 'default' }}" md-theme-watch>
			  <md-card-title>
			    <md-card-title-text>
			      <span class="md-headline">User Roles Maintenance</span>
			      <span class="md-subhead">Manage User Roles</span>
			    </md-card-title-text>
			    <md-card-title-media>
			      <div class="md-media-sm card-media"></div>
			    </md-card-title-media>
			  </md-card-title>
			  <md-card-actions layout="row" layout-align="end center">
			    <md-button href="#/UserManagement/UserRoles" class="md-primary launch" >Go</md-button>
			  </md-card-actions>
			</md-card>
		</div>
	</md-content>
</div>