<div class="md-padding" layout="column" flex>
	<md-content layout-xs="column" md-whiteframe="5" flex>
      <md-toolbar class="md-theme-primary" layout="row">
      	<div class="md-toolbar-tools">
			<h1>Change Password</h1>
		</div>
	  </md-toolbar>
      <md-card-content layout="column">
      	<md-tabs class="md-accent" md-align-tabs="bottom" md-stretch-tabs="always" md-selected="selectedIndex" md-dynamic-height >
	      	<md-tab id="confirmPasswordTab" >
      			<md-tab-label><md-icon md-font-icon="material-icon">security</md-icon></md-tab-label>
      			<md-tab-body>
      				<div class="md-padding">
      					<form>
		      				<div layout="row" flex>
		      					<h4 class="md-subhead">Confirm Password</h4>
		      				</div>
					        <md-input-container class="md-icon-float md-block">
					        	<label>Current Password</label>
					        	<md-icon md-font-icon="material-icon">vpn_key</md-icon>
					        	<input ng-model="currentPassword" type="password" required />
					        </md-input-container>
					        <div class="md-block" layout="row" flex>
					        	<span flex></span>
					        	<p class="error md-body-1" ng-show="incorrectPasswordError">
					        		<md-icon md-font-icon="material-icon">error</md-icon> Incorrect Password!
				        		</p>				    
					      		<span flex></span>
					        	<md-button class="md-raised md-primary" type="submit" ng-click="validate()">Submit</md-button>
					      	</div>
				      	</form>
			      	</div>
      			</md-tab-body>
	      	</md-tab>
	      	<md-tab id="changePasswordTab" ng-disabled="incorrectPassword" >
      			<md-tab-label><md-icon md-font-icon="material-icon">blur_on</md-icon></md-tab-label>
      			<md-tab-body>
      				<div class="md-padding">
      					<form>
		      				<div layout="row" flex>
		      					<h4 class="md-subhead">Change Password</h4>
		      				</div>
					        <md-input-container class="md-icon-float md-block">
					        	<label>New Password</label>
					        	<md-icon md-font-icon="material-icon">vpn_key</md-icon>
					        	<input ng-model="newPassword" type="password" required />
					        </md-input-container>
					        <md-input-container class="md-icon-float md-block">
					        	<label>Confirm Password</label>
					        	<md-icon md-font-icon="material-icon">vpn_key</md-icon>
					        	<input ng-model="confirmPassword" type="password" required />
					        </md-input-container>
					        <div class="md-block" layout="row" flex>
					        	<span flex></span>
					        	<p class="error md-body-1" ng-show="passwordNotMatchError">
					        		<md-icon md-font-icon="material-icon">error</md-icon> Password doesn't match!
				        		</p>
					        	<p class="md-body-1" ng-show="updateSuccess" class="md-subhead">
					        		<md-icon md-font-icon="material-icon">info</md-icon> Password update success! Logging you out of the system.
				        		</p>		    
					      		<span flex></span>
					        	<md-button class="md-raised md-primary" type="submit" ng-click="resetPassword()">Change Password</md-button>
					      	</div>
					      	<md-progress-linear md-mode="indeterminate" ng-show="updateSuccess"></md-progress-linear>
				      	</form>
			      	</div>
      			</md-tab-body>
	      	</md-tab>
      	</md-tabs>
      </md-card-content>
    </md-content>
</div>