<div class="md-padding" layout="column" flex>
	<md-content class="md-padding" layout-xs="column">
		<div flex-xs flex-gt-xs="50" layout="column">
			<md-card md-theme="{{ showDarkTheme ? 'dark-purple' : 'default' }}" md-theme-watch>
			  <md-card-title>
			    <md-card-title-text>
			      <span class="md-headline">Application Type Maintenance</span>
			      <span class="md-subhead">Manage Application Types for Task</span>
			    </md-card-title-text>
			    <md-card-title-media>
			      <div class="md-media-sm card-media"></div>
			    </md-card-title-media>
			  </md-card-title>
			  <md-card-actions layout="row" layout-align="end center">
			    <md-button href="#/TaskMaintenance/ApplicationTypes" class="md-primary launch" >Go</md-button>
			  </md-card-actions>
			</md-card>
			<md-card md-theme="{{ showDarkTheme ? 'dark-purple' : 'default' }}" md-theme-watch>
			  <md-card-title>
			    <md-card-title-text>
			      <span class="md-headline">Task Status Maintenance</span>
			      <span class="md-subhead">Manage Task Status</span>
			    </md-card-title-text>
			    <md-card-title-media>
			      <div class="md-media-sm card-media"></div>
			    </md-card-title-media>
			  </md-card-title>
			  <md-card-actions layout="row" layout-align="end center">
			    <md-button href="#/TaskMaintenance/TaskStatus" class="md-primary launch" >Go</md-button>
			  </md-card-actions>
			</md-card>
			<md-card md-theme="{{ showDarkTheme ? 'dark-purple' : 'default' }}" md-theme-watch>
			  <md-card-title>
			    <md-card-title-text>
			      <span class="md-headline">Task Type Maintenance</span>
			      <span class="md-subhead">Manage Task Types</span>
			    </md-card-title-text>
			    <md-card-title-media>
			      <div class="md-media-sm card-media"></div>
			    </md-card-title-media>
			  </md-card-title>
			  <md-card-actions layout="row" layout-align="end center">
			    <md-button href="#/TaskMaintenance/TaskTypes" class="md-primary launch" >Go</md-button>
			  </md-card-actions>
			</md-card>
		</div>
	</md-content>
</div>