<div id="container" layout="column" layout-align="center center" layout-fill="layout-fill">
  <div class="box" layout="column" ng-class="{'has-error is-focused' : authenticationError}">
    <md-card>
      <md-toolbar class="md-theme-primary" layout="row">
      	<div class="md-toolbar-tools">
			<h1>Forgot Password</h1>
			<span flex></span>
			<md-button aria-label="Go To Home" class="md-icon-button" href="#/">
		      <md-icon md-font-icon="material-icon">home</md-icon>
		    </md-button>
		</div>
	  </md-toolbar>
      <md-card-content layout="column">
      	<md-tabs class="md-accent" md-align-tabs="bottom" md-stretch-tabs="always" md-selected="selectedIndex" md-dynamic-height >
      		<md-tab id="findUserTab" >
      			<md-tab-label><md-icon md-font-icon="material-icon">person_outline</md-icon></md-tab-label>
      			<md-tab-body>
      				<div class="md-padding">
      					<form>
		      				<div layout="row" flex>
		      					<h4 class="md-subhead">Find User</h4>
		      				</div>
					        <md-input-container class="md-icon-float md-block">
					          <label>Employee ID/Email</label>
					          <md-icon md-font-icon="material-icon">account_box</md-icon>
					          <input id="login" ng-model="username" type="text" required />
					        </md-input-container>
					        <div class="md-block" layout="row" flex>
					        	<span flex></span>
					        	<p class="error md-body-1" ng-show="notFoundError">
					        		<md-icon md-font-icon="material-icon">error</md-icon> Employee ID/Email not found!
				        		</p>
					        	<p class="error md-body-1" ng-show="firstLoginUserMessage">
					        		<md-icon md-font-icon="material-icon">error</md-icon> User still using the default Password! Redirecting to Login.
				        		</p>				 
					      		<span flex></span>
					        	<md-button class="md-raised md-primary" type="submit" ng-click="search()">Search</md-button>
					      	</div>
					      	<md-progress-linear md-mode="indeterminate" ng-show="firstLoginUserMessage"></md-progress-linear>
				      	</form>
			      	</div>
		      	</md-tab-body>
	      	</md-tab>
	      	<md-tab id="securityQuestionTab" ng-disabled="notFound" >
      			<md-tab-label><md-icon md-font-icon="material-icon">security</md-icon></md-tab-label>
      			<md-tab-body>
      				<div class="md-padding">
	      					<form>
		      				<div layout="row" flex>
		      					<h4 class="md-subhead">Security Questions</h4>
		      				</div>
					        <md-input-container class="md-icon-float md-block">
					        	<label>{{securityAnswer1.securityQuestion.description}}</label>
					        	<md-icon md-font-icon="material-icon">security</md-icon>
								<input ng-model="securityAnswer1.answer" required />
					        </md-input-container>
					        <md-input-container class="md-icon-float md-block">
					        	<label>{{securityAnswer2.securityQuestion.description}}</label>
					        	<md-icon md-font-icon="material-icon">security</md-icon>
								<input ng-model="securityAnswer2.answer" required />
					        </md-input-container>
					        <div class="md-block" layout="row" flex>
					        	<span flex></span>
					        	<p class="error md-body-1" ng-show="answerNotMatchError">
					        		<md-icon md-font-icon="material-icon">error</md-icon> Incorrect Security Answers!
				        		</p>				    
					      		<span flex></span>
					        	<md-button class="md-raised md-primary" type="submit" ng-click="validateAnswers()">Submit</md-button>
					      	</div>
				      	</form>
			      	</div>
      			</md-tab-body>
	      	</md-tab>
	      	<md-tab id="resetPasswordTab" ng-disabled="answerNotMatch" >
      			<md-tab-label><md-icon md-font-icon="material-icon">blur_on</md-icon></md-tab-label>
      			<md-tab-body>
      				<div class="md-padding">
      					<form>
		      				<div layout="row" flex>
		      					<h4 class="md-subhead">Reset Password</h4>
		      				</div>
					        <md-input-container class="md-icon-float md-block">
					        	<label>New Password</label>
					        	<md-icon md-font-icon="material-icon">vpn_key</md-icon>
					        	<input ng-model="newPassword" type="password" required />
					        </md-input-container>
					        <md-input-container class="md-icon-float md-block">
					        	<label>Confirm Password</label>
					        	<md-icon md-font-icon="material-icon">vpn_key</md-icon>
					        	<input ng-model="confirmPassword" type="password" required />
					        </md-input-container>
					        <div class="md-block" layout="row" flex>
					        	<span flex></span>
					        	<p class="error md-body-1" ng-show="passwordNotMatchError">
					        		<md-icon md-font-icon="material-icon">error</md-icon> Password doesn't match!
				        		</p>
					        	<p class="md-body-1" ng-show="updateSuccess" class="md-subhead">
					        		<md-icon md-font-icon="material-icon">info</md-icon> Password update success! Redirecting to Login
				        		</p>		    
					      		<span flex></span>
					        	<md-button class="md-raised md-primary" type="submit" ng-click="resetPassword()">Reset Password</md-button>
					      	</div>
					      	<md-progress-linear md-mode="indeterminate" ng-show="updateSuccess"></md-progress-linear>
				      	</form>
			      	</div>
      			</md-tab-body>
	      	</md-tab>
      	</md-tabs>
      </md-card-content>
    </md-card>
  </div>
</div>