<div class="md-padding" layout="column" flex>
	<md-content layout-xs="column" md-whiteframe="5" flex>
		<md-toolbar class="md-table-toolbar md-primary">
  			<h1 class="md-toolbar-tools">Team Maintenance</h1>
		</md-toolbar>
		<md-table-container>
		<div  class="md-padding">
			<md-input-container class="md-icon-float md-block">
				<md-icon md-menu-align-target md-font-icon="material-icon">search</md-icon>
				<input type="text" id="search" placeholder="search" ng-model="search"/>
			</md-input-container>
		</div>
		  <table md-table>
		    <thead md-head md-order="pagination.order">
		      <tr md-row>
		        <th md-column md-order-by="teamId" ><span>Team ID</span></th>
		        <th md-column md-order-by="description"><span>Description</span></th>
		      </tr>
		    </thead>
		    <tbody md-body>
		      <tr md-row ng-repeat="team in filtered = teams | filter: search | orderBy: pagination.order | limitTo: pagination.limit : (pagination.pageNo -1) * pagination.limit">
		        <td md-cell>{{team.teamId}}</td>
		        <td md-cell>{{team.description}}</td>
		        <td md-cell><md-button class="md-primary launch" ng-click="showMembers(team, $event)"><md-icon md-menu-align-target md-font-icon="material-icon">group</md-icon> Manage Members</md-button></td>
		        <td md-cell>
					<md-button class="md-icon-button md-primary" ng-click="edit(team, $event)"><md-icon md-menu-align-target md-font-icon="material-icon">edit</md-icon></md-button>
		        	<md-button class="md-icon-button md-accent" ng-click="remove(team.teamId)"><md-icon md-menu-align-target md-font-icon="material-icon">delete</md-icon></md-button>
	        	</td>
		      </tr>
		    </tbody>
		  </table>
		</md-table-container>
		
		<md-table-pagination md-limit="pagination.limit" md-limit-options="pagination.options" md-page="pagination.pageNo" md-total="{{pagination.itemCount}}" md-page-select md-boundary-links></md-table-pagination>
	</md-content>
  	<div>
		<md-button class="md-fab md-primary" id="new" ng-click="create($event)">
		    <md-tooltip md-direction="top">Add New Team</md-tooltip>
		    <md-icon md-font-icon="material-icon">add</md-icon>
		</md-button>
  	</div>
</div>